fastapi
uvicorn
pygsheets
google-auth
google-auth-oauthlib
bs4
pandas
lxml
pillow-avif-plugin
retry
FPDF
# pytesseract
# pdf2image
# PyPDF2
python-dotenv
google-cloud-storage
pytz
Pillow
google-auth-httplib2
google-cloud-secret-manager